<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <header>
        <%- include('../partials/header') %>
        <style>
            body {
                margin: 0;
                padding: 0;
                width: 100vw;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            canvas{
                position: absolute;
            }
        </style>
    </header>
    <main>
        <button id="videoStarter" class="btn btn-success">Start</button>
        <div id="container" class="video-container">
            <video class="border" id="videoInput" width="720" height="550" muted autoplay>
        </div>
        <form id="myform" action="/upload" method="POST" enctype="multipart/form-data">
            <input type="text" id="name" required>
          <input id="image" type="file" name="image" onchange="loadFile(event)"/>
          <button type="submit">Upload</button>
            <div class="text-center m-0 p-0 mt-2">
                <img id="output" style="width: 400px;"/>
            </div>
            <script>
                var loadFile = function(event) {
                    var output = document.getElementById('output');
                    output.src = URL.createObjectURL(event.target.files[0]);
                    output.onload = function() {
                        URL.revokeObjectURL(output.src) // free memory
                    }
                };
            </script>
        </form>
        <script defer async src="js/face-api.min.js"></script>
        <script defer async src="js/image-processor.js"></script>
    </main>
  </body>
</html>
