<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <header><%- include('../partials/header') %></header>
    <main>
      <div class="bg-secondary maincontainer">
        <div class="row" style="margin: 10px">
          <div class="col-8 divider">
            <h2>Recent Criminals Last Seen</h2>
            <table class="tblhome">
              <tr class="trhome" rowspan="2">
                <td class="profileimg">
                  <a href="/profile">
                    <img src="" class="profilepicture" />
                  </a>
                </td>
                <td>
                  <table>
                    <tr>
                      <td><p>Name:</p></td>
                      <td><p>John Doe</p></td>
                    </tr>
                    <tr>
                      <td><p>Last seen:</p></td>
                      <td><p>January 1, 2020 | 14:46</p></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>

          <div class="col-4">
            <h2>Recent Crime Activities</h2>
            <table class="tblhome">
              <tr class="trhome">
                <td>
                  <table class="tblhome">
                    <tr valign="middle">
                      <td style="width: 35%">
                        <img class="recentact" src="img/location_icon.png" />
                        <p>Barangay:</p>
                      </td>
                      <td>
                        <p>Mankilam</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="recentact" src="img/time_icon.png" />
                        <p>Time:</p>
                      </td>
                      <td>
                        <p>11:50 AM</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class="recentact" src="img/crime_icon.png" />
                        <p>Crime:</p>
                      </td>
                      <td>
                        <p>Robbery</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
